just-driver-python/just_driver_python.egg-info
just-optimizer-kernal/build/zinc*
just-optimizer-kernal/build/scala*
build/*.jar
just-optimizer-kernal/build/build.out
docs/_build
*.pyc
*.iws
*.ipr
*.idea/
*.log
logs
.*.swp
*.iml
.idea/**
**/.classpath
**/.project
**/.settings
target
atlassian*
geomesa-*.*.*-*
**/src/main/resources/git.properties
**/*.db
.ipynb_checkpoints
*.ipynb
*.sc
.sphinx
*.settings
*.project
*/build/*/lib/*.jar
*/build/**/*.zip
metastore_db
apollo-cache-dir